In [1]:
import pandas as pd
import numpy as np
import json
import requests

In [2]:
df1 = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
reply_id_idx = df1[df1['in_reply_to_status_id'].notnull()].index

In [12]:
reply_id_idx

Int64Index([  30,   55,   64,  113,  148,  149,  179,  184,  186,  188,  189,
             218,  228,  234,  251,  274,  290,  291,  313,  342,  346,  387,
             409,  427,  498,  513,  565,  570,  576,  611,  701,  843,  857,
             967, 1005, 1016, 1018, 1080, 1127, 1295, 1330, 1339, 1345, 1356,
            1446, 1452, 1464, 1474, 1479, 1497, 1501, 1523, 1598, 1605, 1618,
            1630, 1634, 1663, 1689, 1774, 1819, 1842, 1844, 1852, 1866, 1882,
            1885, 1892, 1895, 1905, 1914, 1940, 2036, 2038, 2149, 2169, 2189,
            2298],
           dtype='int64')

In [13]:
def drop_col_row(dframe, row_col, axis=0):
    dframe.drop(row_col, axis=axis, inplace=True)

In [14]:
drop_col_row(df1, reply_id_idx)

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2278 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2278 non-null   int64
 1   in_reply_to_status_id       0 non-null      float64
 2   in_reply_to_user_id         0 non-null      float64
 3   timestamp                   2278 non-null   object
 4   source                      2278 non-null   object
 5   text                        2278 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2274 non-null   object
 10  rating_numerator            2278 non-null   int64
 11  rating_denominator          2278 non-null   int64
 12  name                        2278 non-null   object
 13  doggo                       2278 non-null   object
 14  floofer                     2278 non-null   object
 15  pupper                      2278 non-null   object
 16  puppo                       2278 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 320.3+ KB

In [26]:
pd.set_option('display.max_colwidth', 600)

In [28]:
df1.text.sample(20)

717     This is Loomis. He's the leader of the Kenneth search party. The passion is almost overwhelming. 12/10 one day he will be free https://t.co/kCRKlFg4AY
1199          Meet Jennifur. She's supposed to be navigating. Not even buckled up. Insubordinate &amp; churlish. 11/10 would still pet https://t.co/h0trcJohYO
357               RT @dog_rates: This is Kyro. He's a Stratocumulus Flop. Tongue ejects at random. Serious h*ckin condition. Still 12/10 would pet passionate…
1193               People please. This is a Deadly Mediterranean Plop T-Rex. We only rate dogs. Only send in dogs. Thanks you... 11/10 https://t.co/2ATDsgHD4n
438            RT @dog_rates: This is Oliver. He has dreams of being a service puppo so he can help his owner. 13/10 selfless af\n\nmake it happen:\nhttps://…
1103                                       This is Kellogg. He accidentally opened the front facing camera. 8/10 get it together doggo https://t.co/MRYv7nDPyS
2027                      This is Mia. She was specifically told not get on top of the hutch or play in the fridge. 10/10 what a rebel https://t.co/3J7wkwW4FG
1413                                                                       This dog is never sure if he's doing the right thing. 10/10 https://t.co/GXq43zFfBu
1366      Meet Rambo &amp; Kiwi. Rambo's the pup with the sharp toes &amp; rad mohawk. One stays woke while one sleeps. 10/10 for both https://t.co/MpH1Fe9LhZ
1921                             This is Gus. He's super stoked about being an elephant. Couldn't be happier. 9/10 for elephant pupper https://t.co/gJS1qU0jP7
803               Here's a couple rufferees making sure all the sports are played fairly today. Both 10/10 would bribe with extra pets https://t.co/H9yjI9eo3A
802                           This is Willem. He's a Penn State pupper. Thinks the hood makes him more intimidating. It doesn't. 12/10 https://t.co/Dp0s7MRIHK
1521                                            This is Cedrick. He's a spookster. Did me a discomfort. 10/10 would pet with a purpose https://t.co/yS7T4gxKod
1522                                                           This is Hazel. She's a gymnast. Training hard for Rio. 11/10 focused af https://t.co/CneG2ZbxHP
1862                                                                           Happy Friday. Here's some golden puppers. 12/10 for all https://t.co/wNkqAED6lG
758                                                          RIP Loki. Thank you for the good times. You will be missed by many. 14/10 https://t.co/gJKD9pst5A
1382                                                  "Pupper is a present to world. Here is a bow for pupper." 12/10 precious as hell https://t.co/ItSsE92gCW
272             RT @dog_rates: Say hello to Maddie and Gunner. They are considerably pupset about bath time. Both 12/10 but Gunner needs your help\n\nhttps:/…
1172                                                                     This is Ralphé. He patrols the lake. Looking for babes. 11/10 https://t.co/Pb6iMmo0wk
672                                              This is Ralphy. His dreams were just shattered. Poor pupper. 13/10 it'll be ok Ralphy https://t.co/P0kSN6rT6H
Name: text, dtype: object

In [31]:
not_dogs  = df1[df1['text'].str.match('.*only rate dog')].index

In [32]:
drop_col_row(df1, not_dogs)

In [16]:
columns = ['in_reply_to_status_id', 'in_reply_to_user_id']

drop_col_row(df1, columns, axis=1)

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2278 entries, 0 to 2355
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2278 non-null   int64
 1   timestamp                   2278 non-null   object
 2   source                      2278 non-null   object
 3   text                        2278 non-null   object
 4   retweeted_status_id         181 non-null    float64
 5   retweeted_status_user_id    181 non-null    float64
 6   retweeted_status_timestamp  181 non-null    object
 7   expanded_urls               2274 non-null   object
 8   rating_numerator            2278 non-null   int64
 9   rating_denominator          2278 non-null   int64
 10  name                        2278 non-null   object
 11  doggo                       2278 non-null   object
 12  floofer                     2278 non-null   object
 13  pupper                      2278 non-null   object
 14  puppo                       2278 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 284.8+ KB

In [18]:
df1['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2143
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                          91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>      11
Name: source, dtype: int64

In [19]:
df1['source'] = df1['source'].str.extract('^<a.+>(.+)</a>$')

In [20]:
df1['source'].value_counts()

Twitter for iPhone     2143
Vine - Make a Scene      91
Twitter Web Client       33
TweetDeck                11
Name: source, dtype: int64

In [33]:
df1[['doggo', 'floofer', 'pupper', 'puppo']].value_counts()

doggo  floofer  pupper  puppo
None   None     None    None     1843
                pupper  None      242
doggo  None     None    None       80
None   None     None    puppo      28
doggo  None     pupper  None       11
None   floofer  None    None        9
doggo  None     None    puppo       1
       floofer  None    None        1
dtype: int64

In [34]:
dog_stages = ['doggo', 'floofer', 'pupper', 'puppo']
df1[dog_stages] = df1[dog_stages].replace('None', np.nan)

def join(x):
    return ', '.join(x.dropna().astype(str))

df1['dog_stages'] = df1[dog_stages].apply(join, axis=1)

df1['dog_stages'] = df1['dog_stages'].replace('',np.nan)

In [35]:
drop_col_row(df1, dog_stages, axis=1)

In [36]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2215 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2215 non-null   int64
 1   timestamp                   2215 non-null   object
 2   source                      2215 non-null   object
 3   text                        2215 non-null   object
 4   retweeted_status_id         172 non-null    float64
 5   retweeted_status_user_id    172 non-null    float64
 6   retweeted_status_timestamp  172 non-null    object
 7   expanded_urls               2211 non-null   object
 8   rating_numerator            2215 non-null   int64
 9   rating_denominator          2215 non-null   int64
 10  name                        2215 non-null   object
 11  dog_stages                  372 non-null    object
dtypes: float64(2), int64(3), object(7)
memory usage: 225.0+ KB

In [40]:
df1['rating_numerator'] = df1['text'].str.extract('(\d+\.*\d*/\d+)', expand=False).str.split('/').str[0]

In [41]:
df1.rating_numerator

0       13
1       13
2       12
3       13
4       12
        ..
2351     5
2352     6
2353     9
2354     7
2355     8
Name: rating_numerator, Length: 2215, dtype: object

In [45]:
image = pd.read_csv('image.tsv', sep='\t')

In [46]:
image.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [48]:
image['p1'].value_counts()

golden_retriever      150
Labrador_retriever    100
Pembroke               89
Chihuahua              83
pug                    57
                     ...
pillow                  1
carousel                1
bald_eagle              1
lorikeet                1
orange                  1
Name: p1, Length: 378, dtype: int64

In [52]:
image

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,breed,prediction
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True,Welsh_springer_spaniel,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True,redbone,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True,German_shepherd,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True,Rhodesian_ridgeback,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,miniature_pinscher,0.560311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True,basset,0.555712
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,Labrador_retriever,0.168086
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True,Chihuahua,0.716012
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True,Chihuahua,0.323581
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False,None,0.000000

In [49]:
condition = [(image['p1_dog'] == True),(image['p2_dog'] == True), (image['p3_dog'] == True)]

breed = [image['p1'], image['p2'], image['p3']]

pred_conf = [image['p1_conf'], image['p2_conf'], image['p3_conf']]

image['breed'] = np.select(condition, breed, default='None')

image['prediction'] = np.select(condition, pred_conf, default=0)

In [54]:
image['breed'].value_counts()

None                    324
golden_retriever        173
Labrador_retriever      113
Pembroke                 96
Chihuahua                95
                       ...
Scotch_terrier            1
EntleBucher               1
Japanese_spaniel          1
standard_schnauzer        1
Bouvier_des_Flandres      1
Name: breed, Length: 114, dtype: int64

In [56]:
image['prediction'].value_counts()

0.000000    324
0.530104      2
0.995143      2
0.181351      2
0.721188      2
           ...
0.885301      1
0.450678      1
0.200812      1
0.414963      1
0.323581      1
Name: prediction, Length: 1689, dtype: int64